<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <!-- id:<input type="text" v-model="id">
        name:<input type="text" v-model="name">
        <br>
        <router-link :to='`/login?id=${id}&name=${name}`'>登陆 </router-link> -->
        <!--如果在路由中使用查询字符串，给路由传递参数，则不需要路由规则的path属性-->
        <router-link to='/login?id=12&name=dfgtsgr'>登陆 </router-link>
        <router-link to="/register"> 注册</router-link>
        <router-view></router-view>
    </div>

    <script>
        var login = {            
            // 使用$route.query获取数据
            template: '<h1>登陆----{{$route.query.id}}----{{$route.query.name}}</h1>',
            data() {
                return {
                }
            },
            created() { //组件生命周期钩子函数
                console.log(this.$route.query.id)
            },
        }
        var register = {
            template: '<h1>注册</h1>'
        }
        var router = new VueRouter({
            routes: [
                { path: '/login', component: login },
                { path: '/register', component: register }
            ]
        })
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
            },
            methods: {
            },
            // router: router,
            // 名字一样可省略
            router,
        })

    </script>
</body>

</html>